<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evilthreads.jackhammerlib">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <service
            android:name=".BruteForceJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>
</manifest>